* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.home-pic {
  height: 100vh;
  background-image: linear-gradient(to top right,rgba(0, 0, 255, 0.4), #d3d3d3), url(./guillaume-briard-lSXpV8bDeMA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 25% bottom 40%;
}

.name-box {
  height: 100vh;
  // width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name-text  {
  color: #001c57;
  font-size: 75px;
  // animation: fadingIn 2s ease-in;
}

@keyframes fadingIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pText {
  color:#001c57;
  font-size: 25px;
  padding: 25px;
  // animation: fadingIn 2s ease-in;
}

.portfolio {
  margin-top: 50px;
}

.portfolio img {
  height: 300px;
  width: 400px;
  border-radius: 50%;
  border: #001c57 3px solid;
  // animation: fadingIn 2s ease-in;
  background-size: center;
}

.tableContainer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skillsPage {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  max-width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactMe {
  max-width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// @media screen and ( max-width: 768px ) {
//   .homePage {
//     width: 100vw;
//   }
// }