* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.AboutMe {
 width: 100vw;
 background: #6699cc;
 height: 50vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.aboutTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-me {
  height: 100%;
  width: 50%;
  color: #fffdd0;
  font-size: 18px;
}

.aboutTitle h1 {
  text-decoration: underline #001c57;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #001c57;
  font-size: 30px;
  padding: 5px;
}
